<ion-header>
  <ion-navbar>
    <ion-title text-center>
      Food Diary
    </ion-title>
  </ion-navbar>
  <ion-toolbar text-center mode="md">
    <div style="float:left;cursor:pointer;" (click)="goBackInTime()">
      <ion-icon name="arrow-back" style="padding-left: 1em;"></ion-icon>
    </div>
    Today
    <div style="float:right;cursor:pointer" (click)="goForwardInTime()">
      <ion-icon name="arrow-forward" style="padding-right: 1em;"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content padding id="diarypage">
  <ion-item text-center>
    <b>Carbon Footprint Today:</b> <span style="color:#18ab1f">
      <span *ngIf="calculateTotal() > 0">+</span>{{calculateTotal().toFixed(2)}} lbs
    </span>
  </ion-item>
  <ion-card *ngFor="let meal of meals">
    <ion-list>
      <ion-item color="light" id="history-list-item44" lines="full">
        <ion-icon name="{{meal.icon}}" item-left></ion-icon>
        <b>{{meal.name}}</b>
        <span item-right><b>
          <span *ngIf="calculateMeal(meal.name) > 0">+</span>{{calculateMeal(meal.name).toFixed(2)}} lbs
        </b></span>
      </ion-item>
      <ion-item color="none" id="foodEntry-list-item7" *ngFor="let food of entries[meal.name]">
        <ion-badge style="background-color:#18ab1f;">A</ion-badge>
        {{food.food_name}}
        <span item-right><b>
          <span *ngIf="food.total_ghg > 0">+</span>{{(food.total_ghg * 2204.62).toFixed(2)}} lbs
        </b></span>
      </ion-item>
      <ion-item color="light" on-click="goToFoodEntry(meal.name)" text-center button style="cursor:pointer;">
        <ion-icon name="add"></ion-icon>
         Add Food
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
